<h1 class="text-center mb-3">
    {{title}}
</h1>
<div class="container-">
    <div class="row">
        <div class="text-left">
            <span>Name:</span>
            <span>{{authorInfo.name}}</span>
        </div>
    </div>
    <div class="row">
        <h5>About Me:</h5>
        <span class="text-left mb-3">
            {{{authorInfo.desc}}}
        </span>
    </div>
    <div class="row">
        <span class="text-left">
            {{authorInfo.contactEmail}}
        </span>
    </div>
</div>
